.submain_container{
  display: flex;
  margin-top: 0.5rem;
}

.img_container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}



.swip_img_desc{
  margin-left: 2rem;
}
.swip_img_desc h5{
  text-transform: capitalize;
  font-weight: light;
}

.subMain_banner{
  cursor: pointer;
}
.subMain_banner.A{
  background-color: #a580a1;
}
.subMain_banner.B{
  background-color: #dcbbd3;
}
.subMain_banner.C{
  background-color: #8ec1c3;
}
.subMain_banner.D{
  background-color: #edab91;
}
.subMain_banner.E{
  background-color: #fcf1c4;
}
.subMain_banner.F{
  background-color: #dcbbd3;
}


