.header_container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: black;
  position: relative;

}

.header_container h1{
  font-size:35px;
}

.searchBar{
  display: flex;
  align-items: center;
}

.searchBar input{
  font-size: x-large;
  padding-left: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #f6f6f8;
  width: 50rem;
  height: 3rem;
  margin-right: 1rem;
}
.searchBar input::placeholder{
  font-size:medium;
  padding-left: 1rem;
}

.storeServ{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: larger;
}

.subHeader_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #f6f6f8;
  background-color: black;
}